<% provide(:title, "Sign In") %>
<h1>Sign In</h1>

<div class="row-fluid">
  <div class="span8 offset2">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "input-block-level" %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: "input-block-level" %>

      <%= f.submit "Sign in", class: "btn btn-block btn-large btn-pink" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", register_path %></p>
  </div>
</div>