<h1>Sign In</h1>

<div class="row-fluid">
  <div class="span8 offset2">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "input-block-level" %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: "input-block-level" %>

      <%= label_tag(:remember_me, class: "checkbox")  do%>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %> Remember Me
      <% end %>
      <%= f.submit "Sign in", class: "btn btn-block btn-large btn-pink" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", register_path %> 
      Forgot password? <%= link_to "Click here to reset it.", reset_password_path %></p>
  </div>
</div>