
<h1>Reset Password</h1>

<div class="row-fluid">
  <div class="span8 offset2">
    <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
      

      <%= render 'shared/error_messages', object: @user %>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: "input-block-level" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "input-block-level" %>
      </div>
      <div class="actions"><%= f.submit "Reset Password", class: "btn btn-block btn-large btn-pink" %></div>
    <% end %>
  </div>
</div>
