<div class="row-fluid">
  <div class="span8 offset2"> 
    <%= form_for(@term,:html => {:class => "form-horizontal", :multipart => true}) do |f| %>
      
      <%= render 'shared/error_messages', object: @term %>

      <div class="row-fluid">
         
              <div class="row-fluid">
                <div class="control-group span12">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: "input-block-level" %>
                </div>
              </div>
              <div class="row-fluid">
                  <div class="control-group span4">
                    <%= f.label :kanji  %>
                    <%= f.text_field :kanji, class: "input-block-level" %>
                  </div>
                  <div class="control-group span4">
                    <%= f.label :phonetic %>
                    <%= f.text_field :phonetic, class: "input-block-level"  %>
                  </div>
                  <div class="control-group span4">
                    <%= f.label :kana %>
                    <%= f.text_field :kana, class: "input-block-level"  %>
                  </div>
              </div>
              <div class="row-fluid">
                <div class="control-group span6">
                  <%= f.label :def %>
                  <%= f.text_field :def, class: "input-block-level"  %>
                </div>
                <div class="control-group span6">
                  <%= f.label :lit %>
                  <%= f.text_field :lit, class: "input-block-level"  %>
                </div>
              </div>

            </div>
            
              <!-- description -->
             
                <div class="row-fluid">
                  <div class="control-group span12">
                    <%= f.label :desc%>    
                    <%= f.text_area :desc, class: "input-block-level", rows: "9" %>
                  </div>              
            </div>
        <div class="row-fluid">
          <% if @term.photo.url %>
          <p>
            <%= link_to_if(@term.photo?, image_tag(@term.photo.url(:thumb), class: 'pull-left img-polaroid thumbnail'), @term.photo.url) if @term.photo? %>
          </p>
          <% end %>

        <div class="control-group">
          <%= f.file_field :photo, :title=>'Upload Image' %>
        </div>
        <div class="control-group">
          <%= f.submit :class=>'btn btn-pink'  %>
        </div>
      </div>           
         
      
     

      <!-- THUMBNAIL UPLOAD -->
      
    <%= javascript_include_tag params[:controller] %>
    <% end %>
  </div>
</div>