<div class="well center">

  <div class="btn-group">

  <% if signed_in? %>
    <%= link_to '<i class="icon-arrow-down"></i>'.html_safe, vote_down_term_path(@term), id: 'vote-down', title:'Vote Down', class: 'has-tooltip btn btn-small', remote: true %>
  <% end %>

  <div id="accuracy" class="btn btn-small" title="<%= accuracy(@term) %> People Say Accurate" data-accuracy="<%= accuracy(@term) %>">
      <div class="accuracy-bar-container">
    <div class="accuracy-bar-mask">
      <div class="accuracy-bar">

      </div>
    </div>
  </div>
  </div>
  
  <% if signed_in? %>
  <%= link_to '<i class="icon-arrow-up"></i>'.html_safe, vote_up_term_path(@term), id: 'vote-up', title:'Vote Up', class: 'has-tooltip btn btn-small',  remote: true %>
  <% end %>

  </div>

  <% if signed_in? %>
   
   <% if !@term.favorited?(current_user) %>
 
      <%= link_to '<i class="icon-heart"></i>'.html_safe, add_to_favorites_term_path(@term), id: 'save', title:'Save To Favorites', class: 'has-tooltip btn btn-small' %>

      <% else %>

            <%= link_to '<i class="icon-ban-circle"></i>'.html_safe, remove_from_favorites_term_path(@term), id: 'save', title:'Remove From Favorites', class: 'has-tooltip btn btn-small' %>


   <% end %>
<% end %>

  <% if signed_in? %>
  <%= link_to '<i class="icon-flag"></i>'.html_safe, "#flagModal", id: 'flag', title:'Call Bullshit', class: 'has-tooltip btn btn-small',  data: {:toggle=>"modal"} %>
 <% end %>

  <% if signed_in? %>
  <% if current_user.admin? or owned?(@term) %>

  <%= link_to '<i class="icon-cog icon-white"></i>'.html_safe, edit_term_path(@term), id: 'edit', title:'Edit', class: "has-tooltip btn btn-small btn-pink" %> 

  
  <%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, @term, method: :delete, id: 'delete', title:'Delete', data: { confirm: 'Are you sure?'}, class: "has-tooltip btn btn-small btn-danger" %>
  
  <% end %> 
  <% end %>
 </div>


