<div class="row-fluid">


<ul class="inline">
  <% if signed_in? %>
    <li><p><%= link_to 'New Term', new_term_path, class: "btn btn-pink" %></p></li>
  <% end %>
<%= render 'alphabet' %>
</ul>

</div>


<div class="row-fluid">
<h2>Terms</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Kanji</th>
    <th>Kana</th>
    <th>Phonetic</th>
    <th>Definition</th>
  </tr>

<% @terms.keys.sort.each do |starting_letter| %>
  <tr>
    <td>
 <h3 id="<%= starting_letter %>"><%= starting_letter %></h3>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <% @terms[starting_letter].each do |term| %>
  <tr>
    <td><%= link_to term.name, term %></td>  
    <td><%= term.kanji %></td>
    <td><%= term.kana %></td>
    <td><%= term.phonetic %></td>
    <td><%= term.def %></td>
  </tr>
  <% end %>
<% end %>
</table>

</div>


