<div class="row-fluid">


<ul class="inline">
  <% if signed_in? %>
    <li><p><%= link_to 'New Term', new_term_path, class: "btn btn-pink" %></p></li>
  <% end %>

</ul>

</div>


<div class="row-fluid">
<h2>Terms</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Kanji</th>
    <th>Kana</th>
    <th>Phonetic</th>
    <th></th>
  </tr>

  <% @terms.each do |term| %>
  <tr>
    <td><%= link_to term.name, term %></td>  
    <td><%= term.kanji %></td>
    <td><%= term.kana %></td>
    <td><%= term.phonetic %></td>
    <td><%= render "shared/like", object: term %></td>
  </tr>
  <% end %>

</table>

</div>


