<%= render 'shared/navigation' %>
<div class="row-fluid">
  <div class="span6">
    <%= render 'term_info' %>
    <%= render 'term_controls' %>
    <%= render 'varients/list' %>
    <hr>
    <%= render 'phrases/list' %>
  </div>
  <div class="span6">
    <%= render 'comments/list' %>
    <%= render 'comments/form' %>
    <%= render 'phrases/form' %>
  </div>
</div>
<!-- MODALS -->

<%= render 'flags/modal' %>
