<h1><%= @user.name %></h1>	

<div class="span4">
	<h2>Stats</h2>
</div>

<div class="span6">

	<ul class="unstyled" style="padding-top:26px">
	<li><p><%= @user.terms.count %><span class="light"> Terms</span></p></li>
	<li><p><%= @user.comments.count %><span class="light"> Comments</span></p></li>
	<li><p><%= @user.phrases.count %><span class="light"> Phrases</span></p></li>
	<li><p><%= @user.votes.count %><span class="light"> Votes</span></p></li>
	<li><p><%= @user.favorites.count %><span class="light"> Favorites</span></p></li>
</ul>
</div>