<% provide(:title, @user.name) %>

<div class="row-fluid">
	<div class="span4">

<%= render 'stats' %>

	</div>
	<div class="span4">
		<% if @favorites.any? %>
	
	
	<h1>Favorites</h1>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Kanji</th>
			<th>Kana</th>
		</tr>
		<% @favorites.each do |term| %>
		<tr>
	    <td><%= link_to term.name, term %></td>  
	    <td><%= term.kanji %></td>
	    <td><%= term.kana %></td>
	  </tr>
	  <% end %>


	</table>

	<% end %>

	</div>
	<div class="span4">
		<%= render 'terms' %>	
	</div>
</div>

