
<div class="center hero-unit">
<h1><%= ENV["SPLASH"] %></h1>
<h2><%= ENV["NAME"] %></h2>
<p><%= ENV["TAGLINE"] %></p>
<p>
<%= link_to "Enter", terms_path, class: "btn btn-large btn-pink" %>
<%= link_to "Leave", "http://google.com", class: "btn btn-large" %>
</p>
<p class="mini"><%= ENV["DISCLAIMER"] %></p>

</div>