
<ul>
<% @terms.each do |term| %>
	<% if !term.flags.empty? %>
		<li><%= link_to term.name, term %> [Flags: <%= term.flags.count %> ] 
			[by: <%=  User.find(term.user_id).name %>]
			<%= render 'shared/delete_mini', object: term %>
		<ul class="well unstyled">
			<% term.flags.each do |flag| %>
			<li><p>
					<%= flag.reason %> 
			
					<% if flag.user_id? %>
						<% if User.exists? id: flag.user_id %>
							[Flagged By: <%= User.find(flag.user_id).name %>]
						<% end %>
					<% end %>
					
				<%= render 'shared/delete_mini', object: flag %>
			<% end %>
			</p>
		</ul>
		
	<% end %>
<% end %>
</ul>