<!-- TODO : Move these either to ajax get requests in or use gon, decide -->
<!-- see - http://railscasts.com/episodes/324-passing-data-to-javascript -->
<%= javascript_tag "var term = #{ @term.to_json };" %>
<%= javascript_tag "var autocomplete_items = #{ @terms.to_json };" %>

<div class="row-fluid">
  <div class="span8 offset2">    
    <div class="control-group span6">
      <%= form_tag do %>
        <%= label_tag("auto_complete", "Add Varients") %>
        <%= text_field_tag "auto_complete", "", class: "input-block-level", autocomplete: "off" %>
      <% end %>
    </div>    
    <div class="control-group span6">
      <p>Varients</p>
      <%= render 'varients/list' %>
    </div>
  </div>
</div>

