<h1>Listing varients</h1>

<table>
  <tr>
    <th>Term a</th>
    <th>Term b</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @varients.each do |varient| %>
  <tr>
    <td><%= varient.term_a_id %></td>
    <td><%= varient.term_b_id %></td>
    <td><%= link_to 'Show', varient %></td>
    <td><%= link_to 'Edit', edit_varient_path(varient) %></td>
    <td><%= link_to 'Destroy', varient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Varient', new_varient_path %>
