<p id="notice"><%= notice %></p>

<p>
  <b>Term a:</b>
  <%= @varient.term_a_id %>
</p>

<p>
  <b>Term b:</b>
  <%= @varient.term_b_id %>
</p>


<%= link_to 'Edit', edit_varient_path(@varient) %> |
<%= link_to 'Back', varients_path %>
