<!DOCTYPE html>
<html>
<head>
  <title>Pink Jisho <%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
  
  <div id="notice">
    <% flash.each do |key, value| %>
     <div class="alert-temp alert alert-success fade in alert-<%= key %>"><%= value %></div>
    <% end %>    
    </div>

	<div class="container-fluid">

		<%= yield %>
		<%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
      <% if Rails.env.production? %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-4803873-3', 'pinkji.sh');
          ga('send', 'pageview');
        </script>
      <% end %>
	</div>
	
</body>
</html>
